@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Poppins:wght@200;300;400&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}
/* ===========css for Top section ================ */

.top_section{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;

}
.mainpart{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    height: 500px;
}
.profile_image{
    width: 40%;
}
.profile_image img{
    width: 100%;
}
.content{
    margin-top: 35px;
    height: calc(500px - 35px);
    width: 40%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    
}
.content h1{
    font-size: 54px;
}
.content h3{
    font-size: 25px;
}
.content p{
    font-size: 18px;
    opacity: 0.5 ;
}

.heading{
    font-size: 25px;
}
.heading span{
     color: orange;
}
.button{
    margin-top: 30px;
    background-color: orange;
    padding: 10px;
    height: 50px;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    
}
.button a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;  
}
/* ===========css for Middle section ================ */
